

<h1>Add a comment: </h1>
<form method="POST" action="/">
		<input type="text" id="message" placeholder="Comment" name="comment">
        {{#if user}}
        <input type="text" id="from" value={{user.username}}>
        {{else}}
        <input type="text" id="from" value="Anonymous">
        {{/if}}
		<input type="submit" id="btn" value="send">	
</form>


<h1>All comments: </h1>
<ol>
{{#each comments}}
{{#if username}} 
<li>From:{{username}} At: {{createdAt}} Content: {{content}}</li>
{{else}}
<li>From: Anonymous At: {{createdAt}} {{content}}</li>
{{/if}}
{{/each}}
</ol>
